<li>
    {{name}}
    <button class="change-crumbled" data-id="{{id}}" data-newcrumbled="{{crumbled}}">
        {{#if crumbled}}EAT ME!{{else}}YOU ATE ME!{{/if}}
    </button>

    <button class="delete-cookie" data-id="{{this.id}}">HIDE THE EVIDENCE!</button>

</li>
<br>