{{!-- changing state from "COOKIES TO EAT" to "COOKIES YOU ATE" --}}
<li>
    {{name}}

    {{#if crumbled}}
    <button class="change-crumbled" data-id="{{id}}" data-newcrumbled="{{crumbled}}">
        EAT ME!
    </button>

    {{else}}
    <button class="change-recycle" data-id="{{id}}" data-newcrumbled="{{crumbled}}">
        RECYCLE!
    </button>
    {{/if}}

    <button class="delete-cookie" data-id="{{this.id}}">HIDE THE
        EVIDENCE!</button>
</li>
<br>