{{!-- changing state from "COOKIES TO EAT" to "COOKIES YOU ATE" --}}
<li>
    {{name}}
    <button class="change-crumbled" data-id="{{id}}" data-newcrumbled="{{crumbled}}">
        {{#if crumbled}}EAT ME!<button class="delete-cookie" data-id="{{this.id}}">HIDE THE
            EVIDENCE!</button>{{else}}YOU ATE ME!{{/if}}
    </button>


</li>
<br>