{{!-- changing state from "COOKIES TO EAT" to "COOKIES YOU ATE" --}}
<li>
    {{name}}

    {{#if crumbled}}
    <button class="change-crumbled" data-id="{{id}}" data-newcrumbled="{{crumbled}}">
        EAT ME!
    </button>
    <button class="delete-cookie" data-id="{{this.id}}">HIDE THE
        EVIDENCE!</button>

    {{else}}
    <button class="change-bake" data-id="{{id}}" data-newcrumbled="{{crumbled}}">
        BAKE AGAIN!
    </button>
    {{/if}}
</li>
<br>