<li>
    {{name}}

    <button class="change-crumbled" data-id="{{id}}" data-newcrumbled="{{crumbled}}">
        {{#if crumbled}}EAT ME!{{else}}BAKE COOKIE!{{/if}}
    </button>

    <button class="delete-cookie" data-id="{{this.id}}">DELETE!</button>
</li>